/*================================================
  Google Fonts -> Montserrat Regular y Bold
================================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*================================================
  GENERAL STYLES 
================================================*/
* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  color: #211138;
  width: 100vw;
  height: 100vh;
}

/* Profile photos size */
.profile-photo-size {
  width: 2.6679rem;
  height: 2.6679rem;
  border-radius: 50%;
}

/*================================================
  DIV STYLE CONTACTS 
================================================*/
#contacts {
  width: 25%;
  height: 100%;
  border: 0.125rem solid #F4F3F5;
}

  /* Size of each contact and search */
  .size {
    width: 100%;
    height: 4.2665rem;
    border: 0.0625rem solid #F4F3F5;
  }

  /* Search styles */
  #search-input {
    width: 18.1421rem;
    height: 2.6665rem;
    margin: 0.7999rem 0 0.7999rem 0.8003rem;
    border: 0; 
    border-bottom: 0.1875rem solid;
    border-color: transparent;
    background-color: #F4F3F5;
    padding-left: 1.2806rem;
  }

  #search-input::placeholder {
    color: #00000029;
  }

  #search-input:focus {
    outline: none;
    border-bottom-color: #6200EA;
  }

  #search-input:hover {
    transition: all 0.2s ease-in-out;
    background-color: #00000029;
  }

  #search-button {
    width: 1.6007rem;
    height: 2.6665rem;
    border: 0;
    cursor: pointer;
    color: #00000029;
    background-color: #F4F3F5;
  }

  #search-button:focus {
    outline: none;
  }

  #search-button:active {
    background-color: #000;
    color: #FFF;
  }

  a {
    text-decoration: none;
    display: block;
  }

  /* Contact image style */
  a img {
    margin: 0.799rem 0 0.799rem 0.8003rem;
    float: left;
  }

  /* Contact name style */
  a h2 {
    color: #6200EA;
    letter-spacing: 0.15rem;
    font-weight: bold;
    margin: 1.0666rem 0 0 4.2687rem; 
  }

  /* Contact message style */
  a p {
    color: #211138;
    font-size: 0.875rem;
    margin: 0.2666rem 0 0 4.2687rem;
  }

  /* Contact hover style */
  .contact:hover {
    border-left: 0.3125rem;
    border-left-style: solid;
    border-left-color: #6200EA;
  }

  /* New contact button */
  #add-new-contact {
    width: 19.7429rem;
    height: 2.6665rem;
    color: #6200EA;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-align: center;
    border: 0.125rem solid #6200EA;
    border-radius: 1.5rem;
    margin: 0.8003rem;
    padding: 0.9599rem;
  }

  #add-new-contact:hover {
    transition: all 0.3s ease-in-out;
    background-color: #6200EA;
    color: #FFF;
  }

/*================================================
  DIV STYLE CHAT
================================================*/
#chat {
  width: 75%;
  height: 100%;
  border: 0.125rem solid #F4F3F5;
}

  /* Chat div content */
  /* Header style */
  #header {
    background-color: #6200EA;
    width: 100%;
    height: 4.2665rem;
    position: relative;
  }

  /* Contact name */
  #contact-name {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    top: 1.4932rem;
    left: 1.6007rem;
  }

  /* Logo */
  #header-image {
    width: 9.6046rem;
    height: 2.6665rem;
    position: absolute;
    top: 0.7999rem;
    left: 27.2132rem;
  }

  /* User name */
  #user-name {
    font-weight: bold;
    letter-spacing: 0.15rem;
    color: #FFF;
    position: absolute;
    top: 1.7599rem;
    left: 52.9325rem;
  }

  /* User profile photo */
  #user-profile-photo {
    width: 2.1343rem;
    border-radius: 50%;
    position: absolute;
    top: 0.8rem;
    left: 60.8296rem;
  }

  /* Messages area */
  #messages {
    display: inline-block;
    background-color: #F4F3F5;
    width: 100%;
  }

  /* hours of messages and text style */
  .text-style {
    display: block;
    width: 51.225rem;
    height: 0.7999rem;
    color: #B2ACBA;
    font-weight: bold;
    letter-spacing: 0.15rem;
    margin: 0.5333rem 0 0.2666rem 6.4031rem;
  }

  #first {
    margin-top: 2.1332rem;
  }

  .user-time {
    text-align: right;
  }

  /* profile photos*/
  /* Contact profile photo */
  .contact-photo {
    display: inline-block;
    margin-left: 3.2015rem;
  }

  /* User profile photo */
  .user-photo {
    display: inline-block;
  }

  /* Messages style */
  /* Contact message */
  .contact-message {
    display: inline-block;
    background-color: #FFF;
    border-radius: 0 0.9375rem 0.9375rem 0.9375rem;
    font-size: 0.875rem;
    padding: 1rem;
  }

  #second {
    margin-left: 6.4031rem;
    margin-top: 0.5333rem;
  }

  /* User message */
  .user-message {
    display: inline-block;
    background-color: #B2ACBA;
    border-radius: 0.9375rem 0.9375rem 0 0.9375rem;
    font-size: 0.875rem;
    padding: 1rem;
    margin-left: 28.814rem;
  }

  #sec-message {
    margin-left: 30.8rem;
  }

  #third {
    margin: 0.5333rem 0 0 44.34rem;
  }

  /* Send messages div */
  #send-messages {
    width: 100%;
  }

  /* Text area */
  #text-area {
    display: flex;
  }

  textarea {
    background-color: #F4F3F5;
    width: 53.4262rem;
    height: 4rem;
    border: 0;
    border-bottom: 0.1875rem solid;
    border-color: transparent;
    padding-top: 0.8533rem;
    padding-left: 1.2806rem;
    margin: 0.8rem 0 0.8rem 1.0671rem;
  }

  textarea::placeholder {
    color: #00000029;
    font-weight: bold;
  }

  textarea:focus {
    outline: none;
    border-bottom-color: #6200EA;
  }

  textarea:hover {
    transition: all 0.2s ease-in-out;
    background-color: #00000029;
  }


  /* Send messages options */
  .send-message-options {
    display: flex;
    background-color: #F4F3F5;
    height: 4rem;
    color: #B2ACBA;
    align-items: center;
    padding: 0 0.5rem;
    margin: 0.8rem 0;
  }

  .send-message-options:hover {
    background-color: #B2ACBA;
    color: #FFF;
  }

  /* Send message button */
  #send-message-button {
    display: inline-block;
    background-color: #6200EA;
    width: 2.6679rem;
    height: 2.6679rem;
    border-radius: 50%;
    color: #FFF;
    padding: 0.5rem 0 0 0.5rem;
    margin: 0.8rem 0 0 0.5335rem;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
  }

  /* Neon Light Send Message Button Animation Effects on Hover */
  #send-message-button:hover {
    background-color: #000;
    color: #0F0;
    text-shadow: 0 0 10px #0F0, 0 0 40px #0F0, 0 0 80px #0F0;
    box-shadow: 0 0 10px #000, 0 0 40px #000, 0 0 80px #000;
  }

  #send-message-button span {
    position: absolute;
    display: block;
  }

  #send-message-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #0F0);
  }

  #send-message-button:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  #send-message-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #0F0);
  }

  #send-message-button:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  #send-message-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0F0);
  }

  #send-message-button:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  #send-message-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #0F0);
  }

  #send-message-button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }





















